<p id="notice"><%= notice %></p>
<!-- This page shows all of the resources for a topic -->

<% if @topic.name == "Object Oriented Ruby" %>
  <div class="jumbotron jumbotron-1">
    <%= image_tag("gem.png") %>
    <h1><%= @topic.name %></h1> 
  </div>

<% elsif @topic.name == "Rack" %>
  <div class="jumbotron jumbotron-2">
    <%= image_tag("rack.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

<% elsif @topic.name == "ActiveRecord" %>
  <div class="jumbotron jumbotron-3">
    <%= image_tag("database.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

 <% elsif @topic.name == "Sinatra" %>
  <div class="jumbotron jumbotron-4">
    <%= image_tag("sinatra.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

 <% elsif @topic.name == "Rails" %>
  <div class="jumbotron jumbotron-5">
    <%= image_tag("rails.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

 <% elsif @topic.name == "Javascript" %>
  <div class="jumbotron jumbotron-6">
    <%= image_tag("javascript.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

  <% elsif @topic.name == "Angular" %>
    <div class="jumbotron jumbotron-7">
      <%= image_tag("angular.png") %>
      <h1><%= @topic.name %></h1>
    </div> 

 <% elsif @topic.name == "HTML and CSS" %>
    <div class="jumbotron jumbotron-8">
    <%= image_tag("html_css.png") %>
      <h1><%= @topic.name %></h1>
   </div> 
<% end %>



<div class="container-fluid">
  <div id="resource-table">
    <table class="table">
      <caption>Resources</caption>
      <thead>
        <tr>
          <th><%= @topic.name %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @topic.resources.each do |resource| %>
          <td><%= link_to resource.title, resource.link %></td>

          <td><%= resource.vote_score %></td>

          <td><%= form_for resource, :url => url_for(:controller => 'resources', :action => 'vote', method: "post") do |f| %>
          <div class="input-group">
            <%= f.hidden_field(:resource_id, class: 'form-control', value: resource.id) %> 
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <%= f.submit "Upvote" %> 
            </span>
          </div>
         <% end %>

        <%= form_for resource, :url => url_for(:controller => 'resources', :action => 'vote', method: "post") do |f| %>
          <div class="input-group">
            <%= f.hidden_field(:resource_id, value: resource.id) %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-thumbs-down"></span>
            <%= f.submit "Downvote" %> 
            </span>  
          </div>
        <% end %></td>

          <% if current_user.admin || current_user == resource.user %>

          <td><%= link_to "Delete", resource, :method => :delete, :confirm => "Are you sure ?"%></td>
        </tr>
        <% end %>
      </tbody>
      <% end %>
    </table>
 
  </div>
</div> <!-- end of container -->

<p></p>
<br>
<br>
<br>





