<p id="notice"><%= notice %></p>
<!-- This page shows all of the resources for a topic -->

<% if @topic.name == "Object Oriented Ruby" %>
  <div class="jumbotron jumbotron-1">
    <%= image_tag("gem.png") %>
    <h1><%= @topic.name %></h1> 
  </div>

<% elsif @topic.name == "Rack" %>
  <div class="jumbotron jumbotron-2">
    <%= image_tag("rack.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

<% elsif @topic.name == "ActiveRecord" %>
  <div class="jumbotron jumbotron-3">
    <%= image_tag("database.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

 <% elsif @topic.name == "Sinatra" %>
  <div class="jumbotron jumbotron-4">
    <%= image_tag("sinatra.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

 <% elsif @topic.name == "Rails" %>
  <div class="jumbotron jumbotron-5">
    <%= image_tag("rails.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

 <% elsif @topic.name == "Javascript" %>
  <div class="jumbotron jumbotron-6">
    <%= image_tag("javascript.png") %>
    <h1><%= @topic.name %></h1>
  </div> 

  <% elsif @topic.name == "Angular" %>
    <div class="jumbotron jumbotron-7">
      <%= image_tag("angular.png") %>
      <h1><%= @topic.name %></h1>
    </div> 

 <% elsif @topic.name == "HTML and CSS" %>
    <div class="jumbotron jumbotron-8">
    <%= image_tag("html_css.png") %>
      <h1><%= @topic.name %></h1>
   </div> 
<% end %>

<div class="container-fluid">
  <div id="resource-table">
    <table class="table">
      <thead>
        <tr>
          <th><%= @topic.name %> Resources</th>
        </tr>
       </thead>

      <tbody>
        
      <% @resources.each do |resource| %>
        <tr>
          <td><%= link_to resource.title, resource.link, taget="_blank"%></td>
          <td><%= pluralize(Vote.total_votes(resource.id), "vote") %></td>
          <td><%= form_for resource, :url => url_for(:controller => 'resources', :action => 'upvote', method: "post") do |f| %>
                <%= f.hidden_field(:resource_id, value: resource.id) %>  
                <%= f.submit "Upvote", :class => 'button' %> 
              <% end %>
          </td>
        <% if current_user.admin || current_user == resource.user %>
          <td><%= link_to "Delete", resource_path(resource), method: :delete, data: { confirm: 'Are you sure?' } %></td>  
          <td><%= link_to "Edit", edit_resource_path(resource) %></td>
        <% end %>
      </tr>
    <% end %> <!-- end of resources loop -->
  
      </tbody>  
    </table>
  </div><!--  end of resource table -->
</div> <!-- end of container -->

<p></p>
<br>
<br>
<br>

<div class="container text-center">
<%= link_to "Add a new resource", topic_resources_new_path(@topic) %>
</div>
<br>






