<br>
<br>
<br>
<br>

<h1>Let's Learn Together!</h1>
<!-- The link_to method is one of Rails' built-in view helpers. It creates a hyperlink based on text to display and where to go -->


<!-- I want to eventually only have all of the Learn lectures here -->

<p><%= link_to 'Learn Resources', controller: 'resources' %></p>

<%= link_to "Sign up to keep learning!", new_user_registration_path %>

 <% if current_user %>
    <p><%= link_to "Create Your Recource", new_resource_path, class: "btn btn-default" %></p>
 <% else %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-default" %>
<% end %>

<p><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>