<!-- I don't need this right anymore -->

<h1>Listing Resources</h1>

<p><%= link_to 'New Resource', new_resource_path %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
  </tr>
  
  <% @resources.each do |resource| %>
    <tr>
      <td><%= resource.title %></td>
      <td><%= resource.link %></td>
  
      <td><%= link_to 'Resource', resource_path(resource) %></td>
      <% if current_user.admin || current_user == resource.user %>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>

      <!-- We pass the named route as the second argument, and then the options as another argument -->
      <!-- Used as HTML5 attributes so that when the link is clicked, Rails will first show a confirm dialog to the user, and then submit the link with method delete -->
        <td><%= link_to 'Delete', resource_path(resource),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <%= link_to 'Back', resources_path %>  
      <% end %>

    </tr>
  <% end %>
</table>
