<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>
 
<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>


<!-- Does this work? -->
<strong>Topic:</strong>
  <ul>
    <% @resource.topics.each do |topic| %>
    <li><%= topic.name %></li>
    <% end %>
  </ul>
</p>

<!-- Second half of this doesnt actually work -->
<% if current_user.admin || current_user == @resource.user %>
  <%= link_to 'Edit', edit_resource_path(@resource) %>
<% else %>
  <%= link_to 'Back', resources_path %>
  <% end %>
